<h1>Readings Index</h1>
<p><%= link_to "Post New Reading", new_reading_path %></p>
<% @readings.each do |reading| %>
<h5><%= reading.story_id %></h5>
<br>
<h5><%= reading.chapter_id %></h5>
<br>
<h5><%= reading.scenario_id %></h5>
<br>
<h5><%= reading.complete %></h5>
<br>
  <% link_to 'Select Reading', reading_path(reading) %>
  <%= link_to 'Edit Reading', edit_reading_path(reading) %>
  <%= link_to 'Destroy Reading', reading, method: :delete %>
<% end %>


