<h3><i>New Reading</i></h3>
<%= form_for @reading do |f| %>
  <%= f.label :story_id %>
  <%= f.number_field :story_id %>
<br>
  <%= f.label :chapter_id %>
  <%= f.number_field :chapter_id %>
<br>
  <%= f.label :scenario_id %>
  <%= f.number_field :scenario_id %>
<br>

  
  <%= f.radio_button :complete, 'Reading' %>
<br>
  <%= f.submit %>
<% end %>
