<h3><i>Readings</i></h3>
<h6><%= @reading.story_id %></h6>
<h6><%= @reading.chapter_id %></h6>
<h6><%= @reading.scenario_id %></h6>
<h6><%= @reading.complete %></h6>

<%= link_to 'Back', readings_path %>
