<h3><i>Featured Stories</i></h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>desc</th>
      <th>Base Text</th>
      <th colspan="3"</th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><strong><%= story.title %></strong></td>
        <td><%= story.desc %></td>
        <td><i><%= truncate(story.base_text, :length => 35) %></i></td>
        <td><%= image_tag story.image.url(:thumb) %></td>
        <td><%= link_to 'Read Story', story %></td>
        <td><%= link_to 'Edit Story', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy Story', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to 'Create Story', new_story_path %></p>



