<h3><i>Featured Stories</i></h3>
<p><%= link_to "Post New Story", new_story_path %></p>
<% @stories.each do |story| %>
<h5><%= story.title %></h5>
<br>
<h6><%= story.desc %></h6>
<br>
<div><h6><i><%= truncate(story.base_text, :length => 35) %></i></h6></div>
<br>
<h5><%= story.image %></h5>

<br>
  <%= link_to "Read Story", story %>
  <%= link_to 'Select Story', story_path(story) %>
  <%= link_to 'Edit Story', edit_story_path(story) %>
  <%= link_to 'Destroy Story', story, method: :delete %>
<% end %>

