<h3><i>Post New Story</i></h3>
<%= form_for @story, html: { multipart: true } do |f| %>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
</div>
<div class="field">
  <%= f.label :desc %><br>
  <%= f.text_field :desc %><br>
</div>
<div class="field">
  <%= f.label :base_text %><br>
  <%= f.text_area :base_text, size: "60x12"  %><br>
</div>
<div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %><br>
</div>
 <%= f.submit %>
<% end %> 


