<!DOCTYPE html>
<html>
<head>
  <title>Zombiestory</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">

<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="custom.scss.css">
</head>
<body>
              <style>
                          .round-image-50 {
                                              background-color: white;
                                              border: 1px solid #d9d9d9;
                                              border-radius: 25px;
                                              -moz-border-radius: 25px;
                                              -webkit-border-radius: 25px;
                                              height: 50px;
                                              width: 50px;
                                              overflow: hidden;
                                              text-align: center;
                                              img { width: 100% }
                                          }
              </style>
  <nav class="#000000 black">
    <div class="nav-wrapper">
      <a href="http://localhost:3000/" class="brand-logo"><strong><i>Dark Shelters</i></strong></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      
      <ul class="right hide-on-med-and-down">
       
        <% if current_user %>
        <li class="round-image-50"><%= image_tag @current_user.avatar.url(:thumb) %></li>
        <% else %>
        <li><i><%= link_to 'Login', new_user_session_path %></i></li>
        <% end %>
        <li><i><%= link_to 'Home', root_path %></i></li>
        <li><i><%= link_to 'Stories', stories_path %></i></li>
        <li><i><%= link_to 'Chapters', chapters_path %></i></li>
        <li><i><%= link_to 'Scenarios', scenarios_path %></i></li>
        <li><i><%= link_to 'Readings', readings_path %></i></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= link_to 'Home', root_path %> 
<%= link_to 'Stories', stories_path %> 
<%= link_to 'Chapters', chapters_path %>
<%= link_to 'Scenarios', scenarios_path %>
<%= link_to 'Readings', readings_path %>
      </ul>
    </div>
  </nav>
<%= yield %>
   <footer class="page-footer #000000 black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Created by V B A K E R Development</h5>
          <p class="grey-text text-lighten-4">This app was built by VBAKER Development; featured story written by Peyton Caseria. VBAKER Development specializes in building Ruby-on-Rails Applications. Dark Shelters features photographic images produced by Karen Stoinke and friends.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text"><%= link_to "Sign-up", new_user_registration_path %></a></li>
            <li><a class="white-text"><%= link_to "Sign In", new_user_session_path %></a></li>
            <li><a class="white-text"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!"><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">

  <p class="alert alert-success"><%= notice %></p>
  <p class="alert alert-danger"><%= alert %></p>
</div></a></li>
            <li><a class="white-text" href="#!"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
  
      </div>
      </div>
      <div class="footer-copyright">
        <font color="white">
          Copyright &copy; 2015 Dark Shelters | All rights reserved
        </font> 
      </div>
    </div>
  
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=489132971264800";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{489132971264800}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use version 2.2
  });
  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->


</footer>

</body>
</html>